{% extends 'base.html' %}

{% block body %}
<!--
<nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Cereals</a>
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
        {% for manu in manus %}


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ manu.name|slice:':14' }}<span class="caret"></span></a>
          <ul class="dropdown-menu">


          {% for cereal in manu.cereal_set.all %}
          
         	<li><a href="/cereal_detail/{{ cereal.pk }}">{{ cereal.name }}</a></li> 

          {% endfor %}

          </ul>
        </li>

        

        {% endfor %}

      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
     
        </li>
      </ul>
    </div>
  </div>
</nav>
//-->

{% endblock %}